* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: gray;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: auto;
  position: relative;
  width: 550px;
  height: 860px;
  border-radius: 8.95px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  margin-top: 22px;
  margin-left: 30px;
  height: 25px;
  width: 82px;
  padding: 0;
}

.logo {
  flex-shrink: 0;
  flex-grow: 1;
}

.photo-container {
  display: flex;
  width: 396px;
  height: 232px;
  margin-top: 26px;
  margin-left: 77px;
}

.hero--photo {
  flex-shrink: 0;
  flex-grow: 1;
}

.text-container {
  margin-top: 32px;
  margin-left: 36px;
}

.hero--header {
  margin: 0;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 39.6px */

}

.hero--text {
  margin-top: 16px;
  margin-bottom: 0px;
  width: 320px;
  height: 56px;
  flex-shrink: 0;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 17.6px */
}

.cardsContainer{
  display: flex;
  margin-left: 19px;
  margin-top: 49px;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
}

.card{
  width: 176px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.card-photo-container {
  position: relative;
  display: flex;
  height: 235px;
  width: 100%;
}

.card-photo {
  flex-shrink: 0;
  flex-grow: 1;
  border-radius: 9px;
}

.status-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 6px;
  left: 6px;
  width: 61px;
  height: 20px;
  border-radius: 2px;
  background: #FFF;
}

.status {
  color: #222;
  text-align: center;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 11.264px */
  margin: auto;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  height: 14px;
  margin-top: 9px;
}

span {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 13.2px */
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.star-image-container {
  position: relative;
  display: flex;
  width: 14px;
  height: 14px;
}

.star-image {
  flex-shrink: 0;
  flex-grow: 1;
}

.description {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 178px;
  height: 14px;
  flex-shrink: 0;
  color: #222;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 13.2px */
  /* border: 1px solid red; */
}

.price{
  margin: 0;
  width: 144px;
  height: 14px;
  color: #222;
  font-size: 12px;
  font-style: normal;
  line-height: 110%;
}